/* nav a.logo {
    z-index: 1;
    position: absolute;
    display: block; width: 310px;00 height: 125px;
    background: url(/img/zhenlogo.png) no-repeat 0 0; background-size: contain;
    top: 15px; left: 20px;
    }
  nav a.logo span { display: none; }
*/
body{
padding:0;
margin:0;
font-family:'Georgia', 'sans-serif';
font-size:16px;
line-height:  20px;
}

.main{
  width:80%;
  margin: 48px auto;
}
.edit-quote {
  text-align:center;
}
.quotes{
  text-align: center;
}
.quote{
  position:relative;
  display:inline-block;
  border: 1px solid #ccc;
  box-shadow:2px 2px 2px #ccc;
  width:calc(25% - 48px );
  margin:32px;
  padding:16px;
  vertical-align:top;
  background-color: #fff6e0;  
}
.quote.first-in-line{
  margin-left:0;
}
.quote.last-in-line{
  margin-right:0;
}
.quote .info{
    margin-top:8px;
    font-size:12px;
    font-family: 'sans-serif';
    color: #ccc;
}
.quote .info a{
  color:#ccc;
}
.quote .info a:hover,
.quote .info a:active {
  color:#aaa;
}
.quote .delete{
  position:absolute;
  top:0px;
  right:4px;
  font-family: sans-serif;
}
.quote .delete a{
  color:#bbb;
  text-decoration:none;

}
.quote .delete a:hover, 
.quote .delete a:active{
  color:red;
}
.input-group{
  margin: 16px 0; 
}
.input-group label{
  display:block;
  font-weight:bold;
}
.input-group input,
.input-group textarea{
  border: 1px solid #ccc;
  border-radius:3px;
  font-family:inherit;
  padding:4px 8px;
}
.input-group  #author {
  width:200px;
  margin:auto;
}
.input-group  textarea{
  width:400px;
  margin:auto;
}
.btn {
  border:1px solid #ccc;
  border-radius:3px;
  background-color:#ffecd2;
  font-size:inherit;
  font-family:'sans-serif';
  cursor:pointer;
}
.btn:hover,
.btn:active{
  background-color:#fff6e0;
}
.info-box{
  text-align:center;
  padding:30px 30px 30px 30px ;
  margin: auto;
  width:300px;
  height:100px;
}
.info-box.fail{
border:1px solid #ff6b6a;
background-color:#ff6b6a;
color:black;

}
.info-box.success{
  border:1px solid #46cc71;
  background-color:#bdffb6;
  color:#46cc71;
}
.filter-bar{
  width:100%;
  padding:16px;
  background-color:yellow;
  color:black;
  text-align: center;
}

.pagination {
   margin: 16px 0;
  font-size:20px ;
  color:gray;
  background-color:black;
  text-align: center; 
  width: 100px
}
.pagination a{
  position:relative;
  color:black;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:active{
color:#ccc;
}
.box{
  text-align: center;

  border:1px solid red;
  width:100px;
  height:20px  ;
  background-color:red  ;
}
.box-next{
  text-align: center;
  border:1px solid green;
  width:100px;
  height:20px  ;
  background-color:green  ;
}
/*  header div.hero { position: absolute; width: 42%; top: 130px; left: 55%; }
  header div.hero h1 { line-height: 1em; margin: 0 0 30px 0; color: #fff; }*/